<!-- Nav -->
<nav class="navbar-fixed">
    <a href="/" class="brand-logo center waves-effect">
        <img class="hide-on-small-only" src="./images/brand/logo-brand__white.png">
        <img class="hide-on-med-and-up" src="./images/brand/logo__white.png">
    </a>
    <a class="waves-effect flex sidenav-trigger" data-target="sidenav-menu ">
        <i class="material-icons">menu</i>
    </a>
    <a class="waves-effect flex right">
        <i class="material-icons left">supervised_user_circle</i>
        <span class="hide-on-small-only">My Club</span>
    </a>
</nav>

<!-- Sidenav -->
<div class="sidenav" id="sidenav-menu " edge="left" closeonclick>
    <a class="sidenav-avatar"><img src="./../../../images/ubbe.png"></a>
    <div class="sidenav-menu_user">
        <div class="menu-user_principal">
            <a href="" class="waves-effect"><i class="material-icons">home</i></a>
        </div>
        <div class="menu-user_secondary">
            <a href="" class="waves-effect"><i class="material-icons">home</i></a>
        </div>
    </div>
    <div class="sidenav-menu_content">
        <div class="user-wrapper">
            <span>Mauro Daniel Viveros</span>
        </div>
        <div class="menu-wrapper"></div>
    </div>
</div>