<div class="auth-view flex-1 flex-center">
    <div class="auth-wrapper flex-column">
        <img src="./images/brand/logo-brand.png" class="responsive-img margin-t-10">
        <ui-view class="card-panel flex-column auth-content"></ui-view>
        <footer class="auth-footer">
            <a href="" class="hover-tertiary">{{ 'core.user.auth.help' | translate }}</a>
            <a href="" class="hover-tertiary">{{ 'core.user.auth.termPrivacity' | translate }}</a>
            <a href="" class="hover-tertiary">{{ 'core.user.auth.copyright' | translate }}</a>
        </footer>
    </div>
</div>