$width: 48px;
$bg-color: #2F2F2F;
$bg-color-light: #474747;
// background-color: var(--tertiary-color-dark); Color activo
.sidenav{
    font-family: Roboto,sans-serif;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: $bg-color-light;
    a{ padding: 0; }
    >.sidenav-avatar{
        position: absolute;
        border-radius: 50%; 
        width: #{$width * 2};
        height: #{$width * 2};
        border: #{$width / 4} solid $bg-color-light;
        > img{
            border-radius: 50%;
            height: 100%;
            width: 100%;
            background-color: $bg-color;
        }
    }
    >.sidenav-menu_user{
        margin-top: $width;
        padding-top: $width;
        height: calc(100% - #{$width});
        background-color: $bg-color;
        width: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div{
            display: flex;
            align-items: center;
            flex: 1;
            a{
                color: #FFF;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 5px 0;
                align-items: center;
            }
            &.menu-user_principal{ padding-top: 1em; flex-direction: column; }
            &.menu-user_secondary{ padding-bottom: 1em; flex-direction: column-reverse; }
        }
    }
    >.sidenav-menu_content{
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $bg-color-light;
        >.user-wrapper{
            margin-left: 2em;
            height: #{$width * 2};
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        >.menu-wrapper{
            font-size: 14px;
            flex: 1;
            overflow: auto;
            ul{ margin: 0px; }
            .menu-item_header{
                margin-top: 10px;
                height: 40px;
                padding-left: 10px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.9em;
                color: rgba(255,255,255,.5);
            }
            li{
                &:not(.active){ ul{ height: 0; overflow: hidden; } }
                &.active{
                    background-color: #393939;
                    .menu-item{ padding-right: 16px; }
                }
                &:not(.active){
                    .menu-item:hover{ background-color: #393939; }
                    .menu-item{ margin-right: 16px; border-radius: 0 20px 20px 0; }
                }

                div.menu-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                .menu-item_title, a.menu-item{
                    position: relative;
                    color: #E7E7E7;
                    display: flex ;
                    align-items: center;
                    padding-left: 10px;
                    font-size: 1em;
                    height: 50px;
                    line-height: 50px;
                }
                i.material-icons{
                    color: #E7E7E7;
                    font-size: 1.3em;
                    margin-right: 8px;
                    line-height: 1.3em;
                    width: fit-content;
                    height: fit-content;
                }
            }
        }
    }
}